{% extends 'layouts/layout.html' %}

{% block title %}Courses{% endblock %}

{% block content %}
<div class="w-full mt-6"> 
  <div class="grid gap-2">
    {% if courses %}
    {% for course in courses %}
    <div class="p-4 bg-gray-200">
      <div class="flex items-center">
        <div class="w-32 h-24 rounded border border-gray-300 mr-4">
          <img src="https://via.placeholder.com/150" alt="Course Image" class="w-full h-full object-cover">
        </div>
        <div>
          <h3 class="text-lg font-semibold text-gray-800 mb-2"><a href="/courses/{{ course.id }}">{{ course.name }}</a></h3>
          <p class="text-gray-700">{{ course.description }}</p>
          <div class="flex items-center mt-4">
            <i class="bi bi-person-fill text-gray-500 mr-2"></i>
            <p class="text-gray-700 mr-4">{{ course.author }}</p>
            <i class="bi bi-people-fill text-gray-500 mr-2"></i>
            <p class="text-gray-700 mr-4">{{ course.students.count }} students</p>
            <i class="bi bi-folder-fill text-gray-500 mr-2"></i> 
            <p class="text-gray-700 mr-4">{{ course.category.name }}</p>
            <i class="bi bi-calendar-fill text-gray-500 mr-2"></i>
            <p class="text-gray-700 mr-4">{{ course.academic_year.name }}</p> 
          </div>
        </div>
      </div>
    </div> 
    {% endfor %}
    {% else %}
    You are not enrolled in any courses yet.
    {% endif %}
  </div>
</div>
{% endblock %}