{% extends 'layouts/app.html' %}

{% block content %}
    Hello, Student! 
    <div class="grid grid-cols-3 mt-5 gap-4">
        <div class="bg-blue-200 h-48 text-center"><p class="mt-5">Courses</p><p class="mt-5 text-7xl">0</p></div> 
        <div class="bg-blue-200 h-48 text-center"><p class="mt-5">Courses in progress</p><p class="mt-5 text-7xl">0</p></div> 
        <div class="bg-blue-200 h-48 text-center"><p class="mt-5">Completed courses</p><p class="mt-5 text-7xl">0</p></div> 
    </div>
{% endblock %}